@font-face {
    font-family: 'VarelaRound';
    src: url('../fonts/VarelaRound-Regular.ttf');
}

* {
    font-family: 'VarelaRound';
}

body {
    height: 100%;
    background-color: #263238;
    color: white;
}

#separator-hr {
    background-color: white;
    border-color: #cfd8dc;

}

#main-section {
    margin-top: 20px;
}

.title-section {
    color: #e3f2fd;
}

#side-panel {
    background-color: #37474f;
    height: 600px;
    border: 2px solid rgb(100, 181, 246);
    border-radius: 10px;
}

#main-panel {
    background-color: #37474f;
    height: 600px;
    border: 2px solid rgb(100, 181, 246);
    border-radius: 10px;

}

/* SideBar */

#button-wrapper>a {
    width: 100%;
    border-radius: 0;
    height: 60px;
    background-color: #37474f;
    color: #e3f2fd;
    border: none;
}

#button-wrapper>a:hover {
    background-color: #2196F3;
    color: #fafafa;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

#button-wrapper>a>p {
    padding-top: 13px;
}

#button-wrapper>a>p>span {
    margin-right: 13px;
}

.img-wrapper {
    margin-top: 30px;
    margin-bottom: 35px;

}

#img-user {
    height: 120px;
}

/* Button Label */
#first {
    padding-right: 80px;
}

#second {
    padding-right: 95px;
}

#third {
    padding-right: 86px;
}

#fourth {
    padding-right: 87px;
}


#button-wrapper {
    margin-bottom: 100px;
}


/* Database */
#table-wrapper {
    display: block;
    max-height: 480px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#md-header {
    background-color: #2196F3 !important;
    color: white;
}

#delete-md-header {
    background-color: #f44336 !important;
    color: white;
}


/* Dashboard */


.tech-first-box > img{
    margin-top: 35px;
    height: 30px;
    border-radius: 100px;
}

#canvas-wrapper {
    margin-top: 10px;
}

#tech-wrapper {
    margin-top: 10px;
    color: white;
    border-left: 2px solid #ff9800;
    height: 100px;
    background-color: #455a64;
    padding-left: 30px;
    padding-right: 30px;
}

#datetime-wrapper {
    margin-top: 10px;
    color: white;
    border-left: 2px solid #4caf50;
    height: 100px;
    background-color: #455a64;
}

#datetime-wrapper>h4 {
    padding-top: 35px;
    padding-left: 15px;
}

/* Developer */
#image-wrapper {
    margin-top: 40px;
}

#image-wrapper>.row {
    margin-bottom: 15px;
}

.dev-info-wrapper {
    margin-top: 10px;
}

.dev-info-wrapper>h6 {
    font-size: 18px;
    margin-bottom: 1px;
}

.first-dev>img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 3px solid #ff5722;
}

/* Appliance */

#appliance-wrapper {
    margin-top: 100px;
}

#appliance-btn {
    width: 100px;
}

#light-card {
    background-color: #37474f;
    border: 2px solid #ff5722;
}


#outlet-card {
    background-color: #37474f;
    border: 2px solid #ff5722;
}