@font-face {
    font-family: 'VarelaRound';
    src: url('../fonts/VarelaRound-Regular.ttf');
}

* {
    font-family: 'VarelaRound';
}

body {
    height: 100%;
    background-color: #f5f5f5;
}

#main-section {
    margin-top: 20px;
}

#side-panel {
    background-color: #fafafa;
    height: 600px;
    border: 2px solid rgb(100, 181, 246);
    border-radius: 10px;
}

#main-panel {
    background-color: #fafafa;
    height: 600px;
    border: 2px solid rgb(100, 181, 246);
    border-radius: 10px;

}

/* SideBar */

#button-wrapper>a {
    width: 100%;
    border-radius: 0;
    height: 60px;
    background-color: #fafafa;
    color: #2196F3;
    border: none;
}

#button-wrapper>a:hover {
    background-color: #2196F3;
    color: #fafafa;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

#button-wrapper>a>p {
    padding-top: 13px;
}

#button-wrapper>a>p>span {
    margin-right: 13px;
}

.img-wrapper {
    margin-top: 30px;
    margin-bottom: 35px;

}

#img-user {
    height: 120px;
}

/* Button Label */
#first {
    padding-right: 80px;
}

#second {
    padding-right: 95px;
}

#third {
    padding-right: 100px;
}

#fourth {
    padding-right: 87px;
}


#button-wrapper {
    margin-bottom: 100px;
}


/* Database */
#table-wrapper {
    display: block;
    max-height: 480px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#md-header {
    background-color: #2196F3 !important;
    color: white;
}

/* Dashboard */
#canvas-wrapper {
    margin-top: 100px;
}