<section id="appliance-section" ng-controller="ApplianceController" class="title-section">
    <h3>Appliance</h3>
    <div id="appliance-wrapper">
        <center>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" style="width: 18rem;" id="light-card">
                        <img class="card-img-top" src="img/luke-guedon-beauty.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Outlet Channel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet..</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-primary" id="appliance-btn" ng-click="onChannelA()">ON</button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary" id="appliance-btn" ng-click="offChannelA()">OFF</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card" style="width: 18rem;" id="outlet-card">
                        <img class="card-img-top" src="img/luke-guedon-beauty.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Light Channel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet..</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-primary" id="appliance-btn" ng-click="onChannelB()">ON</button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary" id="appliance-btn" ng-click="offChannelB()">OFF</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</section>