<section id="dev-main-section">
    <h3 class="title-section">Developer</h3>
    <center>
        <div id="image-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="first-dev">
                        <img src="img/sherwin.png" alt="">
                        <div class="dev-info-wrapper">
                            <h6>Sherwin Abatayo</h6>
                            <p><i>Hardware Specialist | Programmer</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="first-dev">
                        <img src="img/james.png" alt="">
                        <div class="dev-info-wrapper">
                            <h6>James Hajji Zapanta</h6>
                            <p><i>Hardware Specialist | Programmer</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="first-dev">
                        <img src="img/chan.png" alt="">
                        <div class="dev-info-wrapper">
                            <h6>Christian Pelayo</h6>
                            <p><i>Developer</i></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="first-dev">
                        <img src="img/axyl.png" alt="">
                        <div class="dev-info-wrapper">
                            <h6>Axyl Minoza</h6>
                            <p><i>Developer | Database</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</section>